<h1>Import users</h1>

<p>Upload a YAML file that is an array of User hashes.  This will create a new User or update an existing User by name and update the associated columns.<p>
<p>For example:<p>
<pre>
---
- :name: Alpha
  :email: alpha@alpha.com
- :name: Beta
  :email: beta@beta.com
</pre>

<%= form_tag({:action => :import}, :multipart => true) do %>
  <div class="field">
    <%= file_field_tag :file %><br />
    <%= submit_tag "Upload file" %>
  </div>
<% end %>
