<h1>Reviewers</h1>

<% i = 0 %>
<% @users.each do |user| %>
  <% if i == 0 %>
    <div class="row-fluid">
  <% end %>
  <div class="span4">
    <div class="well well-small">
      <div class="row-fluid">
        <div class="span6">
          <%= image_tag avatar_url(user) %>
        </div>
        <div class="span6">
          <p><%= link_to user.name, user%></p>
          <p>Number of ratings: <%= user.ratings.count %></p>
        </div>
      </div>
    </div>
  </div>
  <% i = (i + 1) % 3 %>
  <% if i == 0 %>
    </div>
  <% end %>
<% end %>
<% if i != 0 %>
  </div>
<% end %>
