<table id="bands" data-source="<%= bands_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Popularity</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
