<h1>Festivals</h1>
<% if current_user && current_user.is_reviewer? %>
  <%= button_to "Add Festival", new_festival_path, :method => :get, :class => "btn" %>
<% end %>
<%= render :partial => 'list' %>
