<h1><%= @festival.name %></h1>
<% if current_user && current_user.is_reviewer? %>
  <%= button_to "Edit Festival", edit_festival_path, :method => :get, :class => "btn" %>
<% end %>
<strong>Date:</strong> <%= @festival.date %>
<%= render :partial => 'bands/list' %>
