/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require_tree .
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: #A3AEBB;
}

ul {
  padding: 0;
  margin: 0 0 9px 25px;
}

td {
  padding: 4px 5px;
}

.strip1 {
  background-color: #F9F9F9;
}

.strip2 {
  background-color: #E8E6E4;
}

#flash_notice, #flash_error, #flash_alert, #error_explanation {
  padding: 5px 8px;
  margin: 10px 0;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  background-color: #E2654D;
  border: 1px solid #543f31;
}

#header {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 5px;
  border-bottom: 1px solid #543f31;

  background-color: #DFD2C8;
  background: #E2654D;

  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#header h1 {
  margin-top: 10px;
}

#header ul {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}

#header ul li {
  display: inline;
}

#header ul>li {
  padding: 6px 10px;
}

#header ul>li>a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#header ul>li>a:hover {
  text-decoration: underline;
}

#header>#navigation {
  float: left;
}

#header>#login {
  float: right;
}

#main {
  position: fixed;

  top: 41px;
  left: 220px;
  right: 0px;
  bottom: 40px;
  padding: 10px;
  margin-left: 0;
}

#main #content {
  position: fixed;

  background-color: #e8e6e4;
  border-top: 1px solid #443326;
  border-left: 1px solid #443326;
  border-right: 1px solid #443326;
  border-bottom: 1px solid #443326;

  top: 51px;
  left: 230px;
  right: 10px;
  bottom: 50px;
  padding: 5px 10px 20px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

#sidebar {
  position: fixed;

  top: 41px;
  left: 0;
  bottom: 40px;
  margin-left: 0;
  width: 200px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;

  background:#697a8f;
  border-right: 1px solid #000000;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

#sidebar>h3 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 5px 0;
}

#sidebar>h3>a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding: 4px 10px;
  margin-left: -10px;
  margin-right: -10px;
}

#sidebar>h3>a:hover {
  background: #E2654D;
}

#sidebar>ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 18px;
  padding-left: 0;
}

#sidebar>ul>li>a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding: 4px 10px;
  margin-left: -10px;
  margin-right: -10px;
}

#sidebar>ul>li>a:hover {
  background: #E2654D;
}

#footer {
  position: fixed;

  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  
  border-top: 1px solid #130f0b;
  background-color: #2d343d;
  background-image: -moz-linear-gradient(top, #3e4854, #131619);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3e4854), to(#131619));
  background-image: -webkit-linear-gradient(top, #3e4854, #131619);
  background-image: -o-linear-gradient(top, #3e4854, #131619);
  background-image: linear-gradient(to bottom, #3e4854, #131619);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3e4854', endColorstr='#ff131619', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #94a1b0;
  -moz-box-shadow: inset 0 1px 0 #94a1b0;
  box-shadow: inset 0 1px 0 #94a1b0;
}
